::-webkit-scrollbar {
  width: 0px;
  background: rgba(255, 255, 255, 0.0);
}

body{
    margin: 0;
    font-family: DejaVu;
    background: rgb(22,26,30);
    background: linear-gradient(180deg, rgba(22,26,30,1) 0%, rgba(6,7,13,1) 25%);
    overflow-x:hidden;
}

a{
	text-decoration: none;
	color: #f6f6f6;
}

a:hover{
	text-decoration: none;
	color: #f6f6f6;
}

h4{
    margin-top: 0;
}

.buyButton{
    border-radius: 16px;
    background-color: inherit;
    font-size: 1vw;
    padding: 10px;
    color: #f6f6f6;
    border: 2px #f6f6f6 solid;
    margin-top: 90%;
    margin-right: 15%;
    float:none;
    font-family: 'Montserrat', sans-serif;
}

.buyButton:focus{
    outline: none;
}

@font-face{
    font-family: "DejaVu";
    src: url("../fonts/DejaVu.ttf");
}

@font-face{
    font-family: "DejaVu sans";
    src: url("../fonts/DejaVuSans.ttf")
}

.main-image{
	height: 100%;
	width: 75%;
    box-shadow: 0px 0px 34px 18px #030305; 
}

.navbar {
	background-color: #020204;
    padding: 0, 10%, 0, 10%;
}

.navbar-nav {
    text-align: justify;
    width: 100%;
}


.main-img-div {
    padding: 65px 0px 50px 10%; 
    height: 90%;    
    width: 70%;
    display: inline-block;
    background: rgb(25,29,36);
    background: linear-gradient(184deg, rgba(25,29,36,1) 0%, rgba(6,7,13,1) 100%);
     
}

.adv-text {
    text-align: right; 
    font-size: 1.5vw;
    color: #f6f6f6;
}

.social-ico {
    max-width: 2%;
    float: right;
}

.to-down-btn {
    background-color: inherit;
    border: 2px solid #f6f6f6;
    width: 30px;
    height: 45px;
    opacity: 80%;
    border-radius: 18px;
    margin-bottom: 10px;
}

.to-down-btn:focus{
    outline: none;
}

@keyframes to-down-btn{
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;

    }
    
     0%   { transform: translateY(0); }
        100%  { transform: translateY(20px); }
}

.btn-dot {
     animation: to-down-btn 2s cubic-bezier(1, 0.69, 1, 1) 0s infinite;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* modal */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 30%;
  top: 10%;
  width: 40%; /* Full width */
  height: 80%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}

/* Modal Content/Box */
.modal-content {
  background-color: inherit;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 0px;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    position: absolute;
    z-index: 1000;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  margin-left: 88%;
    margin-top: 2%;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.form {
	width: auto;
	height: 100%;
	background: #e6e6e6;
	border-radius: 8px;
	box-shadow: 0 0 40px -10px #000;
	padding: 20px 30px;
	max-width: calc(100vw - 40px);
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	position: relative;

}

.form h2 {
	margin: 10px 0;
	padding-bottom: 10px;
	width: 180px;
	color: #1d1d1f;
	border-bottom: 3px solid #1d1d1f
}

.form input {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	background: none;
	outline: none;
	resize: none;
	border: 0;
	font-family: 'Montserrat', sans-serif;
	transition: all .3s;
	border-bottom: 2px solid #67676c;
}

.form input:focus {
	border-bottom: 2px solid black;
}

.form p:before {
	content: attr(type);
	display: block;
	margin: 28px 0 0;
	font-size: 14px;
	color: #2b2b2e
}

.form button {
	float: right;
	padding: 8px 12px;
	margin: 8px 0 0;
	font-family: 'Montserrat', sans-serif;
	border: 2px solid #2b2b2e;
	background: 0;
	color: #232325;
	cursor: pointer;
	transition: all .3s
}

.form button:hover {
	background: #2b2b2e;
	color: #fff
}

.form div {
	content: 'Hi';
	position: absolute;
	bottom: -15px;
	right: -20px;
	background: #232325;
	color: #fff;
	width: 320px;
	padding: 16px 4px 16px 0;
	border-radius: 6px;
	font-size: 13px;
	box-shadow: 10px 10px 40px -14px #000
}

.form span {
	margin: 0 5px 0 15px
}

/* tabs */

.tab {
    border: none;
    display: flex;
    align-content: center;
    margin-top: 3%;
    margin-bottom: 1%;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: none;
    animation: fadeEffect 1s;
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* tab buttons */

.button {
  position: relative;
  padding: 1em 1.5em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-size: 18px;

  margin: 0 auto;
}
.button.type1 {
  color: #f6f6f6;
}
.button.type1.type1::after, .button.type1.type1::before {
  content: "";
  display: block;
  position: absolute;
  width: 20%;
  height: 20%;
  border: 1px solid;
  transition: all 0.6s ease;
  border-radius: 2px;
}
.button.type1.type1::after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: #f6f6f6;
  border-right-color: #f6f6f6;
}
.button.type1.type1::before {
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: #f6f6f6;
  border-left-color: #f6f6f6;
}
.button.type1.type1:hover:after, .button.type1.type1:hover:before {
  width: 100%;
  height: 100%;
}

.button.type1.active:after, .button.type1.active:before{
       width: 100%;
  height: 100%; 
}

.nav-link.used {
    position: relative;
}

.nav-link.used::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f6f6f6;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.nav-link.used:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.nav-link.used:focus::before {
  visibility: visible;
  transform: scaleX(1);
}
.price-block {
    background-color: #f6f6f6;
    border-radius: 8px;
    max-width: 25%;
    color: #1d1d1f;
    display: inline-block;
    margin: 3% auto;
}
